APP_NAME=Clean Arch FastAPI
ENVIRONMENT=dev

API_HOST=127.0.0.1
API_PORT=8000

DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/postgres
DB_ECHO=false
DB_POOL_SIZE=10
DB_MAX_OVERFLOW=20
